@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{

    text-decoration: none;
    display: inline-block;

}
ul li {
    list-style-type: none;
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
/* -------body----- */

.header-section{
    height: 100px;
    position: fixed;
    top: 0 ;
    left: 0;
    width: 100%;
    backdrop-filter: blur(12px);
    

}
.header-section .container{
    height: 100%;
    backdrop-filter: blur(22px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 250, 240, 0.324);
}
.header-menu .menu {
   display: flex;

}
.header-menu .menu li a {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: aliceblue;
    padding: 0 30px;
    text-transform: uppercase;

}
.header-menu .menu li:last-child a{
    padding-right: 0;
}
/* -------header end------- */



/* ---banner-section-start--- */

.banner-section{
    background-image: url(./top-background.png);
    background-size: cover;
    background-repeat: no-repeat;

    height: 800px;
    padding-top: 260px;
    padding-bottom: 160px;
}
.banner-section .container h1{
    font-size: 65px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: white;
    line-height: 68px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 80px;
}
.banner-section .container p{
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    
    font-family: 'Raleway', sans-serif; 
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
    padding: 0 100px;
    
    


}

/* --button- */

.banner-section .container a{
    font-size: 13px;
    background-color: #e84545;
    font-family: 'Raleway', sans-serif;
    padding: 20px 45px;
    color: #ffffff;
    border-radius: 2px;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   text-transform: uppercase;
}

/* --button- */


/* ---banner--end */
/* <!-- -------service-section-start --> */

.service-section{
    padding: 120px 0;
}

.service-section .container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 68px;
    column-gap: 5%;
}
.service-section .container .service-item{
    max-width: 30%;
    
}
.service-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 26px;
}
.service-section .container .service-item h3{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 36px;
    margin-bottom: 26px;

}
.service-section .container .service-item p{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: #989898;
    
}
    /* <!-- -------service-section-end --> */

    /* ---gallery section start----- */






    

    /* ---gallery section end----- */