@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{

    text-decoration: none;
    display: inline-block;

}
ul li {
    list-style-type: none;
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
/* -------body----- */

.header-section{
    height: 100px;

}
.header-section .container{
    height: 100%;
    background-color: rgb(44, 54, 50);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-menu .menu {
   display: flex;

}
.header-menu .menu li a {
    font-family: Raleway;
    font-size: 13px;
    font-weight: 700;
    color: aliceblue;
    padding: 0 30px;

}
.header-menu .menu li:last-child a{
    padding-right: 0;
}
/* -------header end------- */
